<!-- <mat-grid-list cols="6" rowHeight="fit">
    <mat-grid-tile colspan="6"> -->
        <mat-tab-group (selectedTabChange)="tabChanged($event)">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">assignment_ind</mat-icon>
                    ROHAN THAKARE
                </ng-template>
                <app-outer-home></app-outer-home>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">info</mat-icon>
                    ABOUT
                </ng-template>
                <div class="outer-tab-container mat-elevation-z8">
                    <app-about></app-about>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">pan_tool</mat-icon>
                    SKILL
                </ng-template>
                <div class="outer-tab-container mat-elevation-z8">
                    <app-skill></app-skill>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">work</mat-icon>
                    EXPERIENCE
                </ng-template>
                <div class="outer-tab-container mat-elevation-z8">
                    <app-experience></app-experience>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">library_books</mat-icon>
                    EDUCATION
                </ng-template>
                <div>
                    <app-education></app-education>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">computer</mat-icon>
                    WORK
                </ng-template>
                <div>
                    <app-work></app-work>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">local_phone</mat-icon>
                    CONTACT
                </ng-template>
                <div>
                    <app-contact-me></app-contact-me>
                </div>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">lock_open</mat-icon>
                    SIGN-IN
                </ng-template>
                <div class="outer-tab-container mat-elevation-z8">
                    <app-login></app-login>
                </div>
            </mat-tab>
        </mat-tab-group>
    <!-- </mat-grid-tile>
</mat-grid-list> -->
