<!-- <mat-grid-list cols="6" rowHeight="fit">
    <mat-grid-tile colspan="6"> -->
        <mat-tab-group (selectedTabChange)="tabChanged($event)">
            <mat-tab label="ROHAN THAKARE">
                <app-outer-home></app-outer-home>
            </mat-tab>
            <mat-tab label="ABOUT">
                <div class="outer-tab-container mat-elevation-z8">
                    <app-about></app-about>
                </div>
            </mat-tab>
            <mat-tab label="SKILL">
                <div class="outer-tab-container mat-elevation-z8">
                    <app-skill></app-skill>
                </div>
            </mat-tab>
            <mat-tab label="EXPERIENCE">
                <div class="outer-tab-container mat-elevation-z8">
                    <app-experience></app-experience>
                </div>
            </mat-tab>
            <mat-tab label="EDUCATION">
                <div class="outer-tab-container mat-elevation-z8">
                    <app-education></app-education>
                </div>
            </mat-tab>
            <mat-tab label="WORK">
                <div class="outer-tab-container mat-elevation-z8">
                    <app-work></app-work>
                </div>
            </mat-tab>
            <mat-tab label="CONTACT">
                <div class="outer-tab-container mat-elevation-z8">
                    <app-contact-me></app-contact-me>
                </div>
            </mat-tab>
            <mat-tab label="SIGN-IN">
                <div class="outer-tab-container mat-elevation-z8">
                    <app-login></app-login>
                </div>
            </mat-tab>
        </mat-tab-group>
    <!-- </mat-grid-tile>
</mat-grid-list> -->
