<p-tabView>
    <p-tabPanel>
        <ng-template pTemplate = "header">
            <i class="fas fa-house-user mr-2"></i>
            <span>ROHAN</span>
        </ng-template>
        <app-outer-home></app-outer-home>
    </p-tabPanel>
    <!-- <p-tabPanel>
        <ng-template pTemplate = "header">
            <i class="pi pi-calendar"></i>
            <span>ABOUT</span>
        </ng-template>
        <app-about></app-about>
    </p-tabPanel> -->
    <p-tabPanel>
        <ng-template pTemplate = "header">
            <i class="fas fa-toolbox mr-2"></i>
            <span>SKILLS</span>
        </ng-template>
        <app-skill></app-skill>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate = "header">
            <i class="fas fa-briefcase mr-2"></i>
            <span>EXPERIENCE</span>
        </ng-template>
        <app-experience></app-experience>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate = "header">
            <i class="fas fa-user-graduate mr-2"></i>
            <span>EDUCATION</span>
        </ng-template>
        <app-education></app-education>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate = "header">
            <i class="fas fa-laptop-code mr-2"></i>
            <span>WORK</span>
        </ng-template>
        <app-work></app-work>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate = "header">
            <i class="fas fa-envelope mr-2"></i>
            <span>CONTACT</span>
        </ng-template>
        <app-contact-me></app-contact-me>
    </p-tabPanel>
    <p-tabPanel>
        <ng-template pTemplate = "header">
            <i class="fas fa-sign-in-alt mr-2"></i>
            <span>SIGN-IN</span>
        </ng-template>
        <app-login></app-login>
    </p-tabPanel>
</p-tabView>