<div style="height: calc(100vh - 50px);">
    <mat-grid-list cols="5">
        <mat-grid-tile colspan="3" style="height: calc(100vh - 350px);">
            <table>
                <tr>
                    <td style="padding-left:20px;padding-right:20px; color: #2d2d2d" align="center">
                        <h1>UI DEVELOPER</h1>
                    </td>
                </tr>
                <tr>
                    <td style="padding-left:50px;padding-right:50px;color: #5d5d5d">
                        <h5>Hello, I am Rohan Thakare. I have 8 Years of experiance in Web UI Development. I worked on various
                            business domain products like Telecom, Banking and Supply Chain.
                        </h5>
                    </td>
                </tr>
            </table>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" style="height: calc(100vh - 350px);">
            <img src="../../assets/home_profile.jpg">
        </mat-grid-tile>
    </mat-grid-list>
</div>
