<mat-grid-list cols="2" rowHeight="250px" class="load-result">
    <mat-grid-tile *ngFor="let module of moduleForLoading">
        <mat-card style="width:80%">
            <mat-card-content>
                <h4>Module - {{module.moduleName}}</h4>
                <h4>Operation - {{module.actionName}}</h4>
                <section>
                    <p>Remaining - {{module.remainingRecords}} of {{module.recordsToLoad}}</p>
                        <mat-progress-bar 
                            [color]="primary" 
                            [mode]="determinate"
                            [value]="module.remainingPercentage">
                        </mat-progress-bar>
                    <p>Uploaded - {{module.recordsLoaded}} of {{module.recordsToLoad}}</p>
                    <mat-progress-bar 
                        [color]="primary" 
                        [mode]="determinate"
                        [value]="module.uploadedPercentage">
                    </mat-progress-bar>
                    <p>Failed - {{module.recordsFailed}} of {{module.recordsToLoad}}</p>
                    <mat-progress-bar 
                        color="warn" 
                        [mode]="determinate"
                        [value]="module.failedPercentage">
                    </mat-progress-bar>
                </section>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
