<div class="row" style="background-color: #EDEDED;">
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <mat-card>
            <table class="widget-table-class">
                <tr>
                    <td rowspan="2" class="expense-widget">
                        <i class='fas fa-money-bill-alt dashboard-header-icon'></i>
                    </td>
                    <td class="title-class">
                        <i class='fas fa-rupee-sign mr-1'></i>{{totalMonthlyExpense}}
                    </td>
                </tr>
                <tr>
                    <td class="sub-title-class">
                        Active Users
                    </td>
                </tr>
            </table>
        </mat-card>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <mat-card>
            <table class="widget-table-class">
                <tr>
                    <td rowspan="2" class="task-widget">
                        <i class="fas fa-tasks dashboard-header-icon"></i>
                    </td>
                    <td class="title-class">
                        12
                    </td>
                </tr>
                <tr>
                    <td class="sub-title-class">
                        Invited Users
                    </td>
                </tr>
            </table>
        </mat-card>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <mat-card>
            <table class="widget-table-class">
                <tr>
                    <td rowspan="2" class="balance-widget">
                        <i class='fas fa-sign-in-alt dashboard-header-icon'></i>
                    </td>
                    <td class="title-class">
                        <i class='fas fa-rupee-sign mr-1'></i>{{moneyToTake}}
                    </td>
                </tr>
                <tr>
                    <td class="sub-title-class">
                        Banks
                    </td>
                </tr>
            </table>
        </mat-card>
    </div>
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">
        <mat-card>
            <table class="widget-table-class">
                <tr>
                    <td rowspan="2" class="give-widget">
                        <i class='fas fa-share-square dashboard-header-icon'></i>    
                    </td>
                    <td class="title-class">
                        <i class='fas fa-rupee-sign mr-1'></i>{{moneyToGive}}
                    </td>
                </tr>
                <tr>
                    <td class="sub-title-class">
                        Branches
                    </td>
                </tr>
            </table>
        </mat-card>
    </div>
</div>