<div class="view-title">
    {{viewTitle}}
</div>
<div class="action-panel">
    <button mat-raised-button color="primary" (click)="toolbarButtonClicked(action)" [disabled]="action.isDisabled"
        *ngFor="let action of toolbarActions;">
        <span *ngIf="isMaterialIcon(action)">
            <i class="material-icons mat-button-icon">{{action.iconClass}}</i>
        </span>
        <span *ngIf="!isMaterialIcon(action)">
            <i class="{{action.iconClass}} fas-menu-icons"></i>
        </span>
        
        {{action.viewTitle}}
    </button>
</div>
<ng-container *ngIf="dataSource.data.length == 0">
    <div class="grid-message-container" style="padding: 25px">
        No Data to Show
    </div>
</ng-container>
<ng-container *ngIf="dataSource.data.length > 0">
    <table mat-table [dataSource]="dataSource" matSort style="width: 100%;">
    <ng-container *ngFor="let column of columnDefs" [matColumnDef]="column.name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.header}}</th>
        <td mat-cell *matCellDef="let row">
            <ng-container *ngIf="column.renderer">{{column.renderer(row)}}</ng-container>
            <ng-container *ngIf="!column.renderer && row[column.field] !== 'null'">{{row[column.field]}}</ng-container>
        </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
        [ngClass]="{'selected-row': selectedRowIndex == row[idColumn]}"
        (click)="rowSelected(row)">
    </table>
</ng-container>
<mat-paginator  [pageSizeOptions]="[5, 10, 20]" [length]="totalRecords" showFirstLastButtons></mat-paginator>
