.action-panel {
    padding: 20px;
}

.action-panel button{
    margin-right: 20px;
}

.view-title{
    font-family: sans-serif;
    font-size: 15pt;
    padding: 20px;
    border-bottom: 1px solid #CDCDCD;
}

.selected-row{
    background-color: #CCBBEA;
}

.fas-menu-icons {
    font-size: 20px;
    width: 24px;
    text-align: center;
}

.mat-button-icon {
    vertical-align: top;
    margin-top:5px;
}