<div class="mat-elevation-z8">
    <div class="view-title">
        {{viewTitle}}
    </div>
    <div class="action-panel">
        <button mat-raised-button color="primary" (click)="toolbarButtonClicked(action)" [disabled]="action.isDisabled"
            *ngFor="let action of toolbarActions;">
            <span *ngIf="isMaterialIcon(action)">
                <i class="material-icons mat-button-icon">{{action.iconClass}}</i>
            </span>
            <span *ngIf="!isMaterialIcon(action)">
                <i class="{{action.iconClass}} fas-menu-icons"></i>
            </span>
            
            {{action.viewTitle}}
        </button>
    </div>
    <ng-container *ngIf="dataSource.data.length == 0">
        <div class="grid-message-container" style="padding: 25px">
            No Data to Show
        </div>
    </ng-container>
    <ng-container *ngIf="dataSource.data.length > 0">
        <table #listTable mat-table [dataSource]="dataSource" matSort style="width: 100%;">
            <ng-container *ngFor="let column of columnDefs" [matColumnDef]="column.name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.header}}</th>
                <td mat-cell *matCellDef="let row">
                    <ng-container *ngIf="column.renderer">
                        <span [innerHTML]="column.renderer(row)"></span>
                    </ng-container>
                    <ng-container *ngIf="!column.renderer && row[column.field] !== 'null'">{{row[column.field]}}</ng-container>
                </td>
                <!-- <ng-container *ngIf="hasFooterRow"> -->
                    <td mat-footer-cell *matFooterCellDef>
                        <ng-container *ngIf="column.footer == 'SUM'">
                            <span [innerHTML]="getAggregateData(column.footer, column)"></span>
                        </ng-container>
                        <ng-container *ngIf="column.footer !== 'SUM'">
                            {{column.footer}}
                        </ng-container>
                    </td>
                <!-- </ng-container> -->
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
                [ngClass]="{'selected-row': selectedRowIndex == row[idColumn]}"
                (click)="onRowSelect(row)">
            <!-- <ng-container *ngIf="hasFooterRow"> -->
            <tr mat-footer-row class="grid-footer-row" *matFooterRowDef="displayedColumns" [hidden]="!hasFooterRow"></tr>
            <!-- </ng-container> -->
        </table>
    </ng-container>
    <ng-container *ngIf="!noPagination">
        <mat-paginator [pageSize]="10" [pageSizeOptions]="[5, 10, 20]" [length]="totalRecords" showFirstLastButtons></mat-paginator>
    </ng-container>    
</div>