<!-- <div style="height: calc(100vh - 250px);"> -->
    <mat-grid-list cols="2" rowHeight="80px" style="border-bottom: 1px solid #7A7A7A;">
        <mat-grid-tile colspan="2">
            <h3 style="color: #7A7A7A;">GET IN TOUCH WITH ME</h3>
        </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="2" rowHeight="400px">
        <mat-grid-tile colspan="1">
            <table>
                <tr>
                    <td>
                        <h5>CONTACT</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <i class="material-icons" style="vertical-align: middle;">my_location</i>
                            602 Unicus, LMD Square, Bavdhan, Pune - 411021, Maharashtra
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <i class="material-icons" style="vertical-align: middle;">phone_iphone</i>
                            9423424650
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <i class="material-icons" style="vertical-align: middle;">email</i>
                            rohaanthakare@gmail.com
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <i class="material-icons" style="vertical-align: middle;">language</i>
                            http://trackerng.byethost12.com
                        </p>
                    </td>
                </tr>
                <tr>
                    <td align="center">
                        <p class="social-links">
                            <button mat-icon-button (click)="toggleSideNav()">
                                <i class="fab fa-facebook-square"></i>
                            </button>
                            <button mat-icon-button (click)="toggleSideNav()">
                                <i class="fab fa-twitter-square"></i>
                            </button>
                            <button mat-icon-button (click)="toggleSideNav()">
                                <i class="fab fa-google-plus-square"></i>
                            </button>
                            <button mat-icon-button (click)="toggleSideNav()">
                                <i class="fab fa-linkedin"></i>
                            </button>
                        </p>
                    </td>
                </tr>
            </table>
        </mat-grid-tile>
        <mat-grid-tile colspan="1">
            <table style="width: 90%;">
                <tr>
                    <td>
                        <h5>CONTACT FORM</h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <form class="contact_form">
                            <div>
                                <mat-form-field style="width: 100%;">
                                    <input matInput placeholder="Name" name="username" autocomplete="off">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field style="width: 100%;">
                                    <input matInput placeholder="Email-id" autocomplete="off">
                                </mat-form-field>
                            </div>
                            <div>
                                <mat-form-field style="width: 100%;">
                                    <textarea matInput placeholder="Message" autocomplete="off"></textarea>
                                </mat-form-field>
                            </div>
                            <div>
                                <button mat-raised-button style="margin-bottom: 10px;" color="primary" (click)="authenticateUser()">
                                    <i class="material-icons">email</i>
                                    Send Message
                                </button>
                            </div>
                        </form>
                    </td>
                </tr>
            </table>
        </mat-grid-tile>
    </mat-grid-list>
<!-- </div> -->

