<div class="container">
    <div class="row mat-elevation-z8">
        <div class="col-12" style="border-bottom: 1px solid #7A7A7A;">
            <h3 style="color: #7A7A7A; text-align: center;">GET IN TOUCH WITH ME</h3>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="row">
                <div class="col-12">
                    <h5>CONTACT</h5>
                </div>
                <div class="col-12">
                    <i class="material-icons" style="vertical-align: middle;">my_location</i>
                    602 Unicus, LMD Square, Bavdhan, Pune - 411021, Maharashtra
                </div>
                <div class="col-12">
                    <i class="material-icons" style="vertical-align: middle;">phone_iphone</i>
                    9423424650
                </div>
                <div class="col-12">
                    <i class="material-icons" style="vertical-align: middle;">email</i>
                    rohaanthakare@gmail.com
                </div>
                <div class="col-12">
                    <i class="material-icons" style="vertical-align: middle;">language</i>
                    http://trackerng.byethost12.com
                </div>
                <div class="col-12 social-links">
                    <a mat-icon-button href="javascript:" (click)="openInNewTab('https://www.linkedin.com/in/rohan-thakare-45a0b019/')">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a mat-icon-button href="javascript:" (click)="openInNewTab('https://twitter.com/rohaanthakare')">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                    <a mat-icon-button href="javascript:" (click)="openInNewTab('https://www.facebook.com/rohan.thakare.731')">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
            <div class="row">
                <div class="col-12">
                    <h5>CONTACT FORM</h5>
                </div>
                <form class="contact_form">
                    <mat-form-field class="col-12">
                        <input matInput placeholder="Name" name="username" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <input matInput placeholder="Email-id" autocomplete="off">
                    </mat-form-field>
                    <mat-form-field class="col-12">
                        <textarea matInput placeholder="Message" autocomplete="off"></textarea>
                    </mat-form-field>
                    <div class="col-12">
                        <button mat-raised-button color="primary">
                            <i class="material-icons">email</i>
                            Send Message
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

