.tracker-navigation i{
    margin-right: 15px;
}

.tracker-navigation {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.fas-menu-icons {
    font-size: 20px;
    width: 24px;
    text-align: center;
}