<!-- <div> -->
<mat-grid-list cols="12" rowHeight="100" gutterSize="5px" style="background-color: #EDEDED;">
    <mat-grid-tile colspan="8" rowspan="2">
        <mat-card id="balanceChart" style="width:90%; height:80%;">
            <div style="width:95%; height:95%; display: grid;">
                <ng-container *ngIf="accounts.length > 0">
                    <ngx-charts-advanced-pie-chart
                        [view]="view"
                        [scheme]="colors"
                        [results]="accounts"
                        [gradient]="gradient"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)"
                        >
                    </ngx-charts-advanced-pie-chart>
                </ng-container>
                <ng-container *ngIf="accounts.length == 0">
                    <div class="error-text">
                        <i class="fas fa-frown mr-1" style="font-size: 20pt;"></i>
                        No Accounts added
                    </div>
                </ng-container>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-card>
            <mat-card-header class="dashboard-widget">
                <div mat-card-avatar class="expense-widget">
                    <i class='fas fa-money-bill-alt dashboard-header-icon'></i>
                </div>
                <mat-card-title>
                    <i class='fas fa-rupee-sign mr-1'></i>{{totalMonthlyExpense}}
                </mat-card-title>
                <mat-card-subtitle>Monthly Expense</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-card>
            <mat-card-header class="dashboard-widget">
                <div mat-card-avatar class="task-widget">
                    <i class="fas fa-tasks dashboard-header-icon"></i>
                </div>
                <mat-card-title>
                    12
                </mat-card-title>
                <mat-card-subtitle>Pending Tasks</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-card>
            <mat-card-header class="dashboard-widget">
                <div mat-card-avatar class="balance-widget">
                    <i class='fas fa-sign-in-alt dashboard-header-icon'></i>
                </div>
                <mat-card-title>
                    <i class='fas fa-rupee-sign mr-1'></i>{{moneyToTake}}
                </mat-card-title>
                <mat-card-subtitle>Money to Take</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <mat-card>
            <mat-card-header class="dashboard-widget">
                <div mat-card-avatar class="give-widget">
                    <i class='fas fa-share-square dashboard-header-icon'></i>
                </div>
                <mat-card-title>
                    <i class='fas fa-rupee-sign mr-1'></i>{{moneyToGive}}
                </mat-card-title>
                <mat-card-subtitle>Money to Give</mat-card-subtitle>
            </mat-card-header>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="4">
        <mat-card style="width:90%; height:80%;">
            <div style="width:96%; height:80%; display: grid;">
                <ng-container *ngIf="expenseSplit.length > 0">
                    <ngx-charts-pie-chart
                        [view]="view"
                        [scheme]="colors"
                        [results]="expenseSplit"
                        [gradient]="gradient"
                        [legend]="showLegend"
                        [legendPosition]="legendPosition"
                        [labels]="showLabels"
                        [doughnut]="isDoughnut"
                        (select)="onSelect($event)"
                        (activate)="onActivate($event)"
                        (deactivate)="onDeactivate($event)">
                    </ngx-charts-pie-chart>
                </ng-container>
                <ng-container *ngIf="expenseSplit.length == 0">
                    <div class="success-text">
                        <i class="fas fa-grin mr-1" style="font-size: 20pt;"></i>
                        No Expense in this month
                    </div>
                </ng-container>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="4" rowspan="4">
        <mat-card style="width:90%; height:80%;">
            <div style="width:95%; height:90%;">
                <ng-container *ngIf="expenseHistory.length > 0">
                    <ngx-charts-bar-vertical
                        [view]="view1"
                        [scheme]="singleColor"
                        [results]="expenseHistory"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel"
                        (select)="onSelect($event)">
                    </ngx-charts-bar-vertical>
                </ng-container>
                <ng-container *ngIf="expenseHistory.length == 0">
                    <div class="success-text">
                        <i class="fas fa-grin mr-1" style="font-size: 20pt;"></i>
                        No Expense History
                    </div>
                </ng-container>
            </div>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="4">
        <mat-card style="width:100%;">
            <mat-card-content>
                <ng-container *ngIf="budgetStatus.length > 0">
                    <div *ngFor="let catg of budgetStatus" style="margin-bottom: 5px;">
                        <h3 style="margin-bottom: 5px; font-size: 11pt;color: #676767;">{{catg.category}}</h3>
                        <mat-progress-bar
                            mode="determinate"
                            [value]="(catg.spent / catg.allocated) * 100">
                        </mat-progress-bar>
                    </div>
                </ng-container>
                <ng-container *ngIf="budgetStatus.length == 0">
                    <div class="error-text">
                        <i class="fas fa-frown mr-1" style="font-size: 20pt;"></i>
                        No Budget set.
                    </div>
                </ng-container>
            </mat-card-content>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>