.dashboard-header-icon{
    font-size: 30pt;
}

.balance-widget {
    color: #20BF8F;
}

.expense-widget {
    color: #D55C29;
}

.take-widget {
    color: #4772CF;
}

.give-widget {
    color: #D84B55;
}

.task-widget {
    color: #E2C044;
}

.dashboard-header-title {
    font-size: 15pt;
    color: #575757;
    font-weight: bold;
}

.dashboard-header-subtitle {
    font-size: 10pt;
    color: #575757;
    font-weight: bold;
}

.dashboard-header .mat-card {
    padding: 0px;
}

.dashboard-widget .mat-card-subtitle {
    display: block;
    margin-bottom: 0px;
}

.budget-category {
    margin-bottom: 5px; 
    font-size: 11pt;
    color: #676767;
}

.budget-category-subtitle {
    margin-bottom: 5px; 
    font-size: 9pt;
    color: #676767;
}

.widget-title-icon {
    font-size: 30pt;
}

.widget-header {
    border-bottom: 1px solid;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.widget-table-class td{
    padding: 0px 15px 0px 10px;
}

.title-class{
    font-size: 18pt;
}

.sub-title-class{
    font-size: 11pt;
}