<form class="login_form" #formDirective="ngForm" (ngSubmit)="forgotPassword(formDirective)" [formGroup]="forgotPassForm">
    <div class="app_logo">
        <img src="../../assets/Logos/tracker_light.png" style="width: 70%;">
    </div>
    <div>
        <mat-form-field>
            <input matInput placeholder="Email" formControlName="emailId" name="emailId" autocomplete="off">
            <mat-hint>Registered Email where password reset link will be sent.</mat-hint>
            <mat-error *ngIf="emailCtrl.hasError('required')">
                Email is required
            </mat-error>
            <mat-error *ngIf="emailCtrl.hasError('email') && !emailCtrl.hasError('required')">
                Please enter valid email address
            </mat-error>
        </mat-form-field>
    </div>
    <div style="margin-top: 20px;">
        <button mat-raised-button style="margin-bottom: 10px; margin-top: 10px;" color="accent">
            <i class="material-icons">lock_open</i>
            Reset Password
        </button>
    </div>
</form>
