/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import '~material-design-icons/iconfont/material-icons.css';


.error-message{
    background-color: #FF5964;
    color: #FFFFFF;
}

.success-message{
    background-color: #4BBC8E;
    color: #FFFFFF;
}