/* You can add global styles to this file, and also import other style files */
// @import './custom_theme1.scss';
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import '~material-design-icons/iconfont/material-icons.css';
@import '@fortawesome/fontawesome-free/css/all.css';

body{
    font-family: Roboto,"Helvetica Neue",sans-serif;
}

.error-message{
    background-color: #FF5964;
    color: #FFFFFF;
}

.success-message{
    background-color: #4BBC8E;
    color: #FFFFFF;
}

.error-text{
    color: #D84B55;
    font-weight: 600;
}

.success-text{
    color: #3A916E;
    font-weight: 600;
}

body{margin:0}

.ml-1 {
    margin-left: 5px;
} 

.mr-1 {
    margin-right: 5px;
} 
.ml-1 {
    margin-left: 5px;
}

.advanced-pie-legend {
    line-height: 32px;
    .total-value{
        font-size: 25pt;
    }
    .total-label {
        font-size: 15pt;
    }
    .legend-items {
        .legend-item {
            .item-percent {
                font-size: 15px !important;
            }
            .item-label {
                font-size: 12px !important;
            }
            .item-value {
                font-size: 20px !important;
            }
        }
    }
    
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #999; 
}

.mat-progress-bar {
    height: 10px !important;
}

.select-sub-text {
    color: #787878;
}

.relative-vertical-align-middle {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-color-primary {
    color: #3f51b5;
}

.small-text {
    font-weight: 500;
}
