.app-main{
    height: calc(100vh - 65px);
    background-color: #EDEDED;
}

.main-container {
    margin-top: 10px;
    width:96%;
    margin-left: 2%;
    background-color: white;
}

.dark-container {
    background-color: #1C2541;
}