<mat-form-field class="field-full-width">
    <input type="text" [placeholder]="fieldLabel" aria-label="Number" matInput [formControl]="fieldCtrl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [displayWith]="displayFunction" (optionSelected)="onOptionSelected($event)">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            <ng-container *ngIf="fieldConfig.renderer">
                <span [innerHTML]="fieldConfig.renderer(option)"></span>
            </ng-container>
            <ng-container *ngIf="!fieldConfig.renderer">{{option[displayField]}}</ng-container>
        </mat-option>
    </mat-autocomplete>
    <mat-error *ngIf="fieldConfig.control.hasError(fieldConfig.errors?.name)">{{fieldConfig.errors.message}}</mat-error>
</mat-form-field>
